

.background{
    background: url("/public/background/1.jpg");
    height: 91vh;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

}

.border{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-size: 18px;
    margin: auto;
    margin-top: 5%;
    width: 30%;
    border: 3px solid white;
    padding: 10px;

}

.reg{
    font-size: large;
    font-weight: bold;
    color: rgb(232, 229, 238);
    text-align: center;
    margin: 2%;
}

.styling{
    
    text-align: center;

}
.line{
    margin: 0;
}
.info{
    color: white;
    margin: 0;
}

.abc{
    border: 3px solid rgb(63, 55, 216);
    position: relative;
    bottom: 60%;
    width: 30%;
    text-align: center;
    color: rgb(55, 49, 59);
    font-weight: 700;
    margin-left: 10px;
    border-radius: 12px;
    
}

.def{
    font-weight: bold;
    color: rgb(97, 90, 24);
    text-align: center;
    margin-bottom: 12px;
}